@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 10px; /* Se añadieron unidades al padding */
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}

header {
    background-color: #ffde03;
    color: #0336ff;
    padding: 0; /* Se ajustó el padding */
    text-align: center;
    transition: transform 0.3s ease;
    
}

.menu {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    display: flex; /* Se corrigió 'flexbox' a 'flex' */
    align-items: center;
    justify-content: space-between;
    font-size: 5px;
}

.logo {
    color: #ffde03;
    font-size: 25px;
    font-weight: 800;
}

.menu .navbar ul li {
    position: relative;
    float: right;
}

.menu .navbar ul li {
    font-size: 20px;
    padding: 0%;
    color: #0336ff;
    display: block;
    font-weight: 600;
    margin-right: 30px;
    text-decoration: underline;
}

.menu .navbar ul li a {
    transition: color 0.3s ease;
}

.menu .navbar ul li a:hover {
    color: #ce967b;
}

#menu {
    display: none;
}

.logo-icono {
    width: 250px;
}

.menu-icono {
    width: 35px;
}

.menu label {
    cursor: pointer;
}


.header-content {
    text-align: center;
    transition: background-color 0.3s ease; /* Agregamos transición */
}


.header-content h1 {
    font-size: 75px;
    line-height: 80px; /* Se añadieron unidades a 'line-height' */
    color: #0336ff;
    text-transform: uppercase;
    margin-bottom: 35px;
}

a {
    color: #0336ff;
}

section {
    margin: 50px;
    color: #000000;
}

/* Se eliminó la regla .section que no correspondía a ninguna clase */

footer {
    background-color: #ffde03;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media (max-width: 991px) {
    .menu {
        padding: 30px;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0%;
        background-color: #000000;
        display: none;
        transition: all 0.3s ease;
        opacity: 0;
        pointer-events: none;
    }


    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }

    .menu #menu:checked ~ .navbar {
        display: block;
        opacity: 1;
        pointer-events: auto;
    }


    .header {
        min-height: 0vh;
    }

    .header-content {
        padding: 100% 30px;
    }

    section {
        padding: 0%; /* Se ajustó el padding */
    }
}

